@model Mateusz_formularz.Models.Video

@{
    ViewBag.Title = "MainVideoView";
}

<link rel="stylesheet" type="text/css" href="~/Content/style.css">

@Html.AntiForgeryToken()

@*SELECT DATE FOR CHECKING DATABASE START*@
<table>
    <tr>
        @if (Model.Date == null)
        {
            var now = DateTime.Now;
            DateTime? date = new DateTime(now.Year, now.Month, now.Day, 00, 00, 00);
            Model.Date = date;
        }
        <td colspan="2">

            @using (Html.BeginForm("MainVideoView", "AddOrEdit", FormMethod.Post))
            {
                @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "video", @Value = Model.Date.Value.ToString("yyyy-MM-dd") } })
                <input class="ui-button" type="submit" name="submit" , id="submit_search" value="Wybierz" />
            }
        </td>


    <tr>
        <td align="center">
            @using (Html.BeginForm("MainVideoView", "AddOrEdit", FormMethod.Post))
            {
                <input type="hidden" name="Date" id="date_day_remove" value="@Model.Date.Value.AddDays(-1).ToString(" yyyy-MM-dd")" />
                <button class="ui-button">@Html.Raw("<")</button>
            }
        </td>
        <td align="center">
            @using (Html.BeginForm("MainVideoView", "AddOrEdit", FormMethod.Post))
            {
                <input type="hidden" name="Date" id="date_day_add" value="@Model.Date.Value.AddDays(1).ToString(" yyyy-MM-dd")" />
                <button class="ui-button">@Html.Raw(">")</button>
            }
        </td>

    </tr>
    @using (Html.BeginForm("MainVideoView", "AddOrEdit", FormMethod.Post))
    {
        <tr>
            <td align="center"><input class="ui-button" type="submit" name="submit" value="Home" /></td>
        </tr>
    }
</table>
<br />
<h2>"Video": Dodawanie/Edycja</h2>
@using (Html.BeginForm("MainVideoView", "AddOrEdit", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td>ID:</td>
            <td> @Html.TextBoxFor(m => m.Id_Video, new { @readonly = "readonly", @class = "form-control", placeholder = "", required = "required" }) </td>
        </tr>
        <tr>
            <td>Data:</td>
            <td>@Html.TextBoxFor(m => m.Date, new { @readonly = "readonly", @class = "form-control", placeholder = "", required = "required" })</td>

        </tr>
        <tr>
            <td>Rodzaj czytania:</td>
            <td>
                @{
                    List<String>
                        S_reading_types_list = new List<String>
                            ();
                    S_reading_types_list = ViewBag.S_reading_types;
                }

                @Html.DropDownListFor(m => m.Reading_type, new SelectList(S_reading_types_list), new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>Youtube Id:</td>
            <td>@Html.TextBoxFor(m => m.Youtube_Id, new { @class = "form-control", placeholder = "", required = "required" })</td>
        </tr>
        <tr>
            <td align="center"><input class="ui-button" type="submit" name="submit" value="Dodaj" /></td>
            <td align="center"><input class="ui-button" type="submit" name="submit" value="Zapisz zmiany" /></td>
        </tr>
    </table>
}
<br />

<div id="" style="overflow:scroll; height:400px;">
    @if (Model.Videos.Count != 0)
    {
        for (int i = 0; i < Model.Videos.Count; i++)
        {

            <table class="table table-hover">
                <tr>
                    <td>ID</td>
                    <td>Data</td>
                    <td>Typ czytania</td>
                    <td>Youtube ID</td>
                    <td>Video</td>
                </tr>
                @using (Html.BeginForm("MainVideoView", "AddOrEdit", FormMethod.Post))
                {
                    <tr>

                        <td>
                            @Model.Videos[i].Id_Video
                            @{Model.Id_Video = Model.Videos[i].Id_Video;}
                            @Html.HiddenFor(m => m.Id_Video)
                        </td>
                        <td>
                            @Model.Videos[i].Date
                            @{Model.Date = Model.Videos[i].Date;}
                            @Html.HiddenFor(m => m.Date)
                        </td>
                        <td>
                            @Model.Videos[i].Reading_type
                            @{Model.Reading_type = Model.Videos[i].Reading_type;}
                            @Html.HiddenFor(m => m.Reading_type)
                        </td>
                        <td>
                            @Model.Videos[i].Youtube_Id
                            @{Model.Youtube_Id = Model.Videos[i].Youtube_Id;}
                            @Html.HiddenFor(m => m.Youtube_Id)

                        </td>
                        <td>
                            <aside>
                                <iframe id="ytplayer" type="text/html" width="600" height="150" src="https://www.youtube.com/embed/@Model.Videos[i].Youtube_Id" frameborder="0"></iframe>
                            </aside>
                        </td>
                        <td>
                        <input class="ui-button" type="submit" name="submit" value="Edytuj" />
                        <br /><br />
                        <input class="ui-button" type="submit" name="submit" value="Usuń" />
                        </td>
                    </tr>
                }
            </table>
            <br />
        }
    }
</div>






<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        $(function () {
            $(".video").datepicker({
                dateFormat: "yy-mm-dd",
                changeMonth: true,
                changeYear: true,
                showOn: "focus",

            });


        });
    </script>

    @if (ViewBag.Message != null)
    {
        <script>

    $(document).ready(function () {

        alert('@ViewBag.Message');

    });

        </script>
    }
}

